@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background: #131313;
    color: white;
    font-family: "JetBrains Mono", "Courier New", Courier, monospace;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    margin-top: 2vh;
    height: 96vh;
    width: 100%;
}

.header {
    margin: 0px;
    padding: 40px;
    padding-top: 30px;
    padding-bottom: 0px;
    white-space: pre-line;
    font-size: 40pt;
}
h2 {
    margin: 30px 0px 0px 0px;
    padding: 0px 40px;
    font-size: 20pt;
    white-space: pre-line;
}
h3 {
    margin: 0px;
    padding: 0px 40px;
    font-size: 16pt;
    white-space: pre-line;
}

.description {
    margin: 0px 40px;
    padding-left: 50px;
    white-space: pre-wrap;
}

.content {
    margin: 20px 40px;
    white-space: pre-line;
}

a {
  color: #3a3a8d; /* default link color */
}

a:hover {
  color: #2747e9; /* when mouse hovers over the link */
}

a:visited {
  color: #3a3a8d; /* after link has been clicked */
}

a:active {
  color: #2747e9; /* while the link is being clicked */
}

.logo {
    position: absolute;
    display: flex;
    bottom: 0px;
    margin: 40px;
    cursor: pointer;
    border: none;
}

.icon {
    margin: 10px 0px 0px 90px;
    cursor: pointer;
    border: none;
}

.website {
    margin-left: 10px;
    background: url("images/globe.png") no-repeat center center;
    background-size: contain;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.github {
    background: url("images/github-mark-white.png") no-repeat center center;
    background-size: contain;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.column {
    float: left;
    width: calc(50% - 1px);
    padding: 0px;
    height: 100%;
}

.left {
    border-right: 1px solid gray;
}

.right {
    border-left: 1px solid gray;
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
        height: fit-content;
    }
    .left {
        border-right: none;
        border-bottom: 1px solid gray;
    }
    .right {
        border-left: none;
        border-top: 1px solid gray;
    }
    .logo {
        position: relative;
        margin-top: 200px;
        margin-bottom: 30px;
        bottom: 0px;
        height: 30px;
        max-height: 30px;
    }
    .right {
        margin-bottom: 50px;
    }
}